.heading1
{
	font-family: quicksand-n4, sans-serif;
}

.heading3
{
	font-family: open-sans-n6, sans-serif;
}

.heading2
{
	font-family: quicksand-n7, sans-serif;
}

.bodytext-gray,.bodytext-white,.footertext
{
	font-family: open-sans-n4, sans-serif;
}

.Paragraph-Style
{
	font-family: dancing-script-n7, sans-serif;
}

.ts004---Heading
{
	font-family: dosis-n4, sans-serif;
}

.ts004---Paragraph
{
	font-family: ubuntu-n4, sans-serif;
}

#u976-4,#u5022-4,#u5569-4
{
	font-family: bangers-n4, sans-serif;
}

#u5578-4
{
	font-family: droid-sans-n7, sans-serif;
}

#u5599-4
{
	font-family: droid-sans-n7, sans-serif;
}

#u5591-4
{
	font-family: droid-sans-n7, sans-serif;
}

#u5009-19,#u977-4,#u956-19,#u5562-10,#u5603-2,#u5603-4,#u5603-5,#u5603-7,#u5603-9,#u5603-11,#u5603-12,#u5603-14,#u5603-16,#u5603-18,#u5603-19,#u5603-20,#u5603-21
{
	font-family: droid-sans-n4, sans-serif;
}

