#u513
{
	-pie-box-shadow: 2px 2px 5px #7F7F7F;
	-moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
	border-color: #000000;
	background-color: #F6F6F6;
	position: fixed;
}

#u514-4_img
{
	display: block;
	vertical-align: top;
}

#u512
{
	border-color: #000000;
	background-color: #FFFFFF;
	position: fixed;
}

#u6376
{
	background-color: #EEEEEE;
	position: relative;
}

#u6376:hover
{
	background-color: #4D90B8;
}

#u6378
{
	vertical-align: top;
	position: relative;
	background: url("../images/u6378.png") no-repeat 0px 0px;
}

#u6376:hover #u6378
{
	background: url("../images/u6378-r.png") no-repeat 0px 0px;
}

#u6376.MuseMenuActive #u6378
{
	background: url("../images/u6378-a.png") no-repeat 0px 0px;
}

#u6392
{
	background-color: #EEEEEE;
	position: relative;
}

#u6376.MuseMenuActive,#u6392:hover
{
	background-color: #4D90B8;
}

#u6394
{
	vertical-align: top;
	position: relative;
	background: url("../images/u6394.png") no-repeat 0px 0px;
}

#u6392:hover #u6394
{
	background: url("../images/u6394-r.png") no-repeat 0px 0px;
}

#u6392.MuseMenuActive #u6394
{
	background: url("../images/u6394-a.png") no-repeat 0px 0px;
}

#u6385
{
	background-color: #EEEEEE;
	position: relative;
}

#u6392.MuseMenuActive,#u6385:hover
{
	background-color: #4D90B8;
}

#u6387
{
	vertical-align: top;
	position: relative;
	background: url("../images/u6387.png") no-repeat 0px 0px;
}

#u6385:hover #u6387
{
	background: url("../images/u6387-r.png") no-repeat 0px 0px;
}

#u6385.MuseMenuActive #u6387
{
	background: url("../images/u6387-a.png") no-repeat 0px 0px;
}

#u6375,#u6389,#u6382,#u6396
{
	position: relative;
}

#u6399
{
	background-color: #EEEEEE;
	position: relative;
}

#u6385.MuseMenuActive,#u6399:hover
{
	background-color: #4D90B8;
}

#u6399.MuseMenuActive
{
	background-color: #4D90B8;
}

#u6402
{
	vertical-align: top;
	position: relative;
	background: url("../images/u6402.png") no-repeat 0px 0px;
}

#u6399:hover #u6402
{
	background: url("../images/u6402-r.png") no-repeat 0px 0px;
}

#u6399.MuseMenuActive #u6402
{
	background: url("../images/u6402-a.png") no-repeat 0px 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u514-4,#u6495,#menuu515,#u555
{
	position: fixed;
}

.js #u6495.ose_pre_init,.js #menuu515.ose_pre_init,.js #u555.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

