.heading1
{
	font-family: quicksand-n4, sans-serif;
}

.heading3
{
	font-family: open-sans-n6, sans-serif;
}

.heading2
{
	font-family: quicksand-n7, sans-serif;
}

.bodytext-gray,.bodytext-white,.footertext
{
	font-family: open-sans-n4, sans-serif;
}

.Paragraph-Style
{
	font-family: dancing-script-n7, sans-serif;
}

.ts004---Heading
{
	font-family: dosis-n4, sans-serif;
}

.ts004---Paragraph
{
	font-family: ubuntu-n4, sans-serif;
}

#u7739-15
{
	font-family: quicksand-n4, sans-serif;
}

